
<div class="row">
	<div class="large-12 columns">
		<h1>Where Are You?</h1>
	</div>
</div>

<form name="location" action="/results" method="post">
	<fieldset>
		<div class="row">
			<div id="input" class="large-4 large-centered columns">
				<input type="text" name="city" placeholder="Input your city"></input> 
			</div>
			<div class="large-4 large-centered columns">
				<button>What's Your Weather?</button>
			</div>
		</div>
	</fieldset>
</form>

<form name="map" action="/map" method="post">
	<fieldset>
		<div class="row">
			<div class="large-4 large-centered columns">
				<input type="text" name="city" placeholder="Input your city"></input> <br>
			</div>
			<div class="large-2 large-centered columns">
				<button>Submit</button>
			</div>

	</fieldset>
</form>