
<div class="row">
	<div class="large-12 columns">
		<h1 id='home'>Finding Activities Near You...</h1>
	</div>
</div>

	<form name="location" action="/zipcode" method="get" id='zipcode'>
	</form>


<div class = 'row'>
	<form name='geolocate' action='/results' method='post' id='geolocate'>
		<p id="geolocate-info"></p>
		<input type="hidden" name="longitude" id="longitude"></input>
		<input type="hidden" name="latitude" id="latitude"></input>
		<!-- <button id='geolocate-button'>Show Me The Activities!</button> -->
	</form>
</div>

<script type='text/javascript'>
	$(function() {
		// $('#geolocate-button').click(function() {
		  if (navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(function(position) {
		    	$('#longitude').val(position.coords.longitude);
		    	$('#latitude').val(position.coords.latitude);

		    	$('#geolocate').submit();
		    });
		  }
		  else{
		  	$("#zipcode").submit();
		  }
		// });
	});
</script>

#window.location href