<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<h1>Type in your city</h1>
	<form name="location" action="/results" method="post">
		<input type="text" name="city" placeholder="Input your city"></input> <br>
		<button>Submit</button>
	</form>
	


	

</body>
</html>