
<div class="row">
	<div class="large-12 columns">
		<h1 id='home'>Find Activities Near You</h1>
	</div>
</div>

<div class = "row">
<form name="location" action="/results" method="post">
	<fieldset class = 'large-6 large-centered columns'>
		<div class="row">
			<div id='error' class='large-12 large-centered'><h4><%= @error %></h4></div>
			<div id="input" class="large-12 large-centered columns">
				<input type="text" name="city" placeholder="Input your zipcode"></input> 
			</div>
			<div class="large-12 large-centered columns">
				<button>What's Your Weather?</button>
			</div>
		</div>
	</fieldset>
</form>
</div>


