
<div class="row">
	<div class="large-12 columns">
		<div class="large-3 columns">&nbsp;</div>
		<div class="large-5 columns">
			<%= erb :_icons_home %>
		</div>
		<div class="large-3 columns">&nbsp;</div>
	</div>
	<div class="large-12 columns">
		<h1 id='home'>Finding Activities Near You...</h1>
	</div>
</div>

	<form name="location" action="/zipcode" method="get" id='zipcode'>
	</form>


<div class = 'row'>
	<form name='geolocate' action='/results' method='post' id='geolocate'>
		<p id="geolocate-info"></p>
		<input type="hidden" name="longitude" id="longitude"></input>
		<input type="hidden" name="latitude" id="latitude"></input>
		<!-- <button id='geolocate-button'>Show Me The Activities!</button> -->
	</form>
</div>

<script type='text/javascript'>
	$(function() {

		  if (navigator.geolocation) {
		    navigator.geolocation.getCurrentPosition(function(position) {
		    	$('#longitude').val(position.coords.longitude);
		    	$('#latitude').val(position.coords.latitude);

		    	$('#geolocate').submit();
		    });
		  }
		  else{
		  	$("#zipcode").submit();
		  }

	});
</script>
<script src="/skycons.js"></script>
<script>
$(document).ready(function() {
	var icons = new Skycons();
      icons.set("clear-day", Skycons.CLEAR_DAY);
      icons.set("clear-night", Skycons.CLEAR_NIGHT);
      icons.set("partly-cloudy-day", Skycons.PARTLY_CLOUDY_DAY);
      icons.set("partly-cloudy-night", Skycons.PARTLY_CLOUDY_NIGHT);
      icons.set("cloudy", Skycons.CLOUDY);
      icons.set("rain", Skycons.RAIN);
      icons.set("sleet", Skycons.SLEET);
      icons.set("snow", Skycons.SNOW);
      icons.set("wind", Skycons.WIND);
      icons.set("fog", Skycons.FOG);

	icons.play();
});
	
</script>
