<!DOCTYPE html>
<html>
<head>
	<title>Events by Weather</title>	
	<link rel="stylesheet" href="//cdn.jsdelivr.net/foundation/4.3.1/css/foundation.min.css" type="text/css" >
	<link rel="stylesheet" href="application.css" type="text/css" />
	<link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
	<%= erb :_header %>
	<%= yield %>
	
</body>
<%= erb :_footer%>
</html>