
<div class="row">
	<div class="large-12 columns">
		<h3>
			<p>
				<%= @currentSummary %><br> 
		 	 	<%= @currentTemp %><br> 
		  	<%= @daySummary %><br>
		  	You Should: <%= @suggestion %>
		</p>
		</h3>
	</div>
</div>


