<html>
<head>
	<title></title>
</head>
<body>
	<div class="row">
		<div class="large-8 coloumns">
			<h3>
				<%= @gamble %><br>
				The condition today is: <%= @gamble1 %>
				<%= @gamble2 %>
			</h3>
		</div>
	</div>

</body>
</html>