* {
  margin: 0;
/*  font-family: 'MeteoconsRegular';
    src: url('meteocons-webfont.eot');
    src: url('meteocons-webfont.eot?#iefix') format('embedded-opentype'),
         url('meteocons-webfont.woff') format('woff'),
         url('meteocons-webfont.ttf') format('truetype'),
         url('meteocons-webfont.svg#MeteoconsRegular') format('svg');
    font-weight: normal;
    font-style: normal;*/
}



.top-bar {
	background: #06A2CB;
}
fieldset {
	background: #06A2CB;
	border-radius: 20px;
	width: 80%;
}
div {
	text-align: center;
}
i {
	color: white;
} 
#input {
	width: 50%;
}
button {
	background: #DD1E2F;
	border-radius: 10px;
	width: 100%;
	margin: 0;
	font-size: 1.5em;
	margin-bottom: 5px;
}


body {
	background: #218559;
	margin: 0;
	padding: 0;
	height: 100%;
}

#home {
	color: #EBB035;
}

.but {
	width: 70%;
}

form {
	margin: 0;
}

.results {
	color: #192823;
}

.activities {
	color: #EBB035;
	margin: 0;
	margin-bottom: 10px;
}

.name {
	font-size: 1.5em;
}


.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -55px; 
}
.page-wrap:after {
  content: "";
  display: block;
}
.site-footer, .page-wrap:after {
  /* .push must be the same height as footer */
  height: 55px; 
}
.site-footer {
  background: #06A2CB;
  position: fixed;
  bottom: 0;
  width: 100%;
}


.foot {
	color: white;
	margin: 0;
	padding: 10px;
}

input {
	text-align: center;
}
#error h4{
	color:#DD1E2F;
}


/*#map_canvas {
	style="width:1000px;height:600px;"
}*/
